<div id="feature">
	<h2>Penetration Testing Competition Scoreboard</h2>
		<p>This competition was held on Thursday, <a href="http://www.starwars.com/may-the-4th" target=_blank>04 MAY 2017</a>.
			Congratulations to all the participants.
		</p>
		<p class="comp">
			<ol class="comp_list">
				<li class="comp_text"><img class="award_image" src="images/gold_medal.jpg"/><span class="gold"> FreeOfKosta</span></li>
				<li class="comp_text"><img class="award_image" src="images/silver_medal.jpg"/><span class="silver"> Shocktop</span></li>
				<li class="comp_text"><img class="award_image" src="images/bronze_medal.jpg"/><span class="bronze"> Meow</span></li>
			</ol>
			<a href="images/comp.jpg"><img class="comp_pic" src="images/comp_thumb.jpg"/></a>
			<a href="images/comp2.jpg"><img class="comp_pic" src="images/comp2_thumb.jpg"/></a>
		</p>
	<div class="clear">&nbsp;</div>
</div>

<div id="main">
	<div id="comp_chart" style="height: 500px; width: 100%;"></div>
	<div id="comp_pie_chart_student1" style="width: 33%; float: left;"></div>
	<div id="comp_pie_chart_student2" style="width: 33%; float: left;"></div>
	<div id="comp_pie_chart_student3" style="width: 33%; float: left;"></div>
	<div id="comp_pie_chart_student4" style="width: 33%; float: left;"></div>
	<div id="comp_pie_chart_student5" style="width: 33%; float: left;"></div>
	<div id="comp_pie_chart_student6" style="width: 33%; float: left;"></div>
	<script src="js/highcharts.js"></script>
	<script src="js/exporting.js"></script>
	<script src="js/create_comp_chart.js"></script>
	<script src="js/create_comp_points_chart.js"></script>
	<script src="scoreboard/data/comp.data"></script>
	<script src="scoreboard/data/comp_student1.data"></script>
	<script src="scoreboard/data/comp_student2.data"></script>
	<script src="scoreboard/data/comp_student3.data"></script>
	<script src="scoreboard/data/comp_student4.data"></script>
	<script src="scoreboard/data/comp_student5.data"></script>
	<script src="scoreboard/data/comp_student6.data"></script>
	<!-- <script src="js/reload.js"></script> -->
	<!-- <script>reload_js(scoreboard/data/comp_student1.data)</script> -->
</div>