<div id="feature">
		<h2>Exercise Scoreboard</h2>
		<p>This scoreboard tracks each student's progress through the 46 assigned PWK exercises. </p>

	<div class="clear">&nbsp;</div>
</div>

<div id="main">
	<div id="exercises_chart" style="height: 500px; width: 100%;"></div>
	<div id="exercises_teams_chart" style="height: 350px; width: 100%;"></div>
	<div id="exercises_points_chart" style="height: 350px; width: 100%;"></div>
	<script src="js/highcharts.js"></script>
	<script src="js/create_exercises_chart.js"></script>
	<script src="js/create_exercises_teams_chart.js"></script>
	<script src="js/create_exercises_points_chart.js"></script>
	<script src="scoreboard/data/exercises.js"></script>
	<script src="scoreboard/data/exercises_teams.js"></script>
	<script src="scoreboard/data/exercises_points.js"></script>
	<br>
	<h3>Weekly Winners</h3>
	<table>
	<tr>
	    <th>Week #</th>
	    <th>Date</th>
	    <th>Winning Team</th>
	</tr>
    	{weekly_table}
    </table>
    <br>
    <h3>First Bloods!</h3>
	<table>
	<tr>
	    <th>Exercise</th>
	    <th class="blood">First Blood!</th>
	    <th>Time of First Blood</th>
	    <th>Time of Last Completion</th>
	    <th>Students Completed</th>
	</tr>
    	{exercises_first_blood_table}
    </table>

</div>
