<div id="feature">
		<h2>Lab Scoreboard</h2>
		<p>This scoreboard tracks each student's progress through the PWK lab machines</p>

	<div class="clear">&nbsp;</div>
</div>

<div id="main">
	<div id="labs_chart" style="height: 500px; width: 100%;"></div>
	<div id="labs_points_chart" style="height: 350px; width: 100%;"></div>
	<script src="js/highcharts.js"></script>
	<script src="js/create_labs_chart.js"></script>
	<script src="js/create_labs_points_chart.js"></script>
	<script src="scoreboard/data/labs.js"></script>
	<script src="scoreboard/data/labs_points.js"></script>
    <br>
    <h3>First Bloods!</h3>
	<table>
	<tr>
	    <th>Last Octet</th>
		<th>Hostname</th>
		<th>Network</th>
	    <th class="blood">First Blood!</th>
	    <th>Time of First Blood</th>
	    <th>Time of Last Completion</th>
	    <th>Students Completed</th>
	</tr>
    	{labs_first_blood_table}
    </table>

</div>
