<div id="feature">

		<h2>{courseNumber} Resources Page</h2>
		<p>. If you have suggestions for additional resources to be added to this page, please let your instructor know!</p>



	<div class="clear">&nbsp;</div>
</div>

<div id="main">

<h3>Setup Documents and Resources</h3>
<ul>
<li><a href="resources/eecsNET.pdf">eecsNET Connection Guide</a></li>
<li><a href="resources/anyconnect.exe">Cisco Anyconnect</a></li>
<li><a href="resources/vSphere.pdf">vSphere access Guide</a></li>
<li><a href="resources/VMware-workstation-full-12.5.7.exe">VMWare Workstation 12</a> Contact me for license key for Fusion or Workstation</li>
</ul>

<h3>Reference Sheets</h3>
<ul>
<li><a href="resources/LinuxRef.pdf">Linux Reference Sheet</a></li>
<li><a href="resources/vi.pdf">Vi Reference Sheet</a></li>
<li><a href="resources/assembly.pdf">Assembly Reference Sheet</a></li>
<li><a href="resources/PowerShellCheatSheet_v41.pdf">SANS Powershell Cheat Sheet</a></li>
<li><a href="resources/tcpip.pdf">SANS TC/IP Cheat Sheet</a></li>
<li><a href="resources/ipv6_tcpip_pocketguide.pdf">SANS TC/IPv6 Cheat Sheet</a></li>
<li><a href="resources/misc-tools-sheet.pdf">SANS Misc Tools (Metasploit, HPing) Cheat Sheet</a></li>
<li><a href="resources/netcat-cheat-sheet.pdf">SANS NetCat Cheat Sheet</a></li>
<li><a href="resources/windows-command-line-sheet.pdf">SANS Windows Command Line Cheat Sheet</a></li>
</ul>

<h3>Resources for Improving Linux Skills</h3>
<ul>
<li><a href="http://www.ee.surrey.ac.uk/Teaching/Unix/" target=_blank>Unix/Linux Tutorial For Beginners</a></li>
<li><a href="http://www.freeos.com/guides/lsst/" target=_blank>Linux Shell Scripting Tutorial</a>
<li><a href="http://steve-parker.org/sh/sh.shtml" target=_blank>Bash Scripting Tutorial</a>-Steve Parker
</ul>


</div>
