<div id="feature">

<h2>Lesson Schedule</h2>
<p>Please be sure to check back here often, as the schedule is subject to change.</p>
</div>

<div id="main">
	<table>
	<tr>
	    <th class="lesson">LSN</th>
	    <th class="date">Date</th>
	    <th class="topic">Topic</th>
	    <th class="reading">Reading before Class</th>
	   	<th class="exercises">Exercises Due</th>
	    <th class="notes">Notes</th>
	</tr>
{lessons_table}
  </table>
  <p>* denotes modified day<br>
  ** no formal class in TH115 on these days</p>
</div>
