	<div id="feature">

	<h2>Course Objectives:</h2>
		<p>Upon successfully completing this course, cadets will be able to:
		<ul>
		<li>Know the ethical issues regarding professional ethical hacking and penetration testing.</li>
		<li>Use the tools available for crafting exploits.</li>
		<li>Understand the basic techniques for gaining unauthorized access into a large network and computer system using both technical and non-technical means. </li>
		<li>Be able to assess potential vulnerabilities in a network security system within executable programs or within network protocols.</li>
		</ul>

		<div class="clear">&nbsp;</div>
	</div>

	<div id="main">
		<div id="sidebar">
			<div class="sidebarbox">
	           <h2>Quick Links</h2>
				<ul class="sidemenu">
					<li><a href="#overview">Course Overview</a></li>
					<li><a href="#grading">Grading</a></li>
					<li><a href="#books">Required Books</a></li>
					<li><a href="#pre-requisites"/>Pre-requistes</a></li>
				</ul>
			</div>
		</div>
		<div id="overview">
			<h2>Course Overview</h3>
				<p>An ethical hacker is simply a hacker who breaks into a computer network to test its security instead of the with the malicious or criminal intent traditionally associated with hacking. At a high level, this is a hacking course. This course will teach you offensive tools and techniques that will enable you to break into computer network and system. The difference is that this course will teach you these techniques with the purpose of helping to better understand these attack vectors to build more defensible systems. Ethical hacking is also commonly use synonymously with Penetration Testing (pen test) which is the practice of testing and penetrating (compromising) a computer network or system to find and fix the vulnerabilities that a malicious attacker would exploit.</p>
				<p>In terms of implementation, this course is primarily a guided journey through Offensive Security's Penetration Testing with Kali Linux (PWK) course and is split into 3 blocks. The first block focuses on the provided material and exercises that lay the foundation for a successful pen test. In this block, you will learn how to conduct information gathering (scanning), vulnerability analysis, exploitation (i.e. buffer overflows and command injection) and post-exploitation (i.e. privilege escalation, password attacks, and pivoting).  The second block is then an open ended dive into the immersive PWK public lab with over 70 machines for the user to compromise. The final block consist of one of two options depending on the ability of the student. Overall, this block's purpose is to demonstrate master of these skills and the ability to apply the offensive skills you learned to improve defensive systems.</p>
				<p>This course is run very much like a team based competition. There is a scoreboard that tracks each student's and team's progress throughout the materials. This course is also honestly taught using the Thayer method and at a graduate level. You will use the provide materials to teach yourself each of the concepts, and class is only discussion to go deeper into the topics and answer questions. The material is also very hard. Offensive's Securities moto is <a href="https://www.offensive-security.com/offsec/say-try-harder/">Try Harder</a>. The course work is the basic foundation - you will need to do independent research outside of the provided course material to get through more than a handful of the public lab machines.</p>
				<p>Overall, this course is an extremely rewarding course if you are a mature enough learner to handle open ended assignments without complete instruction. The enrollment in the course includes an opportunity to earn the <a href="https://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-professional/">OSCP certification</a>. Space is very limited so please contact me as soon as possible if you are interested.</p>
		</div>
		<div id="grading">
			<h2>Grading</h2>
				<p>This course is out of a total of 1000 points with the break down as follows:</p>
				<table class="grades" id="gradeChart">
					<tr>
					    <th>Event</th><th>Due Date</th><th>Points</th>
					</tr>
					<tr>
						<td colspan="3" class="block"><a href="#pwkBlock"><b>PWK Course Material Block (60%)</b></a></td>
					</tr>
					<tr>
					    <td><a href="#exercises">PWK Exercises</a></td><td>08 JAN - 03 APR</td><td>300</td>
					</tr>
					<tr>
					    <td><a href="labWriteup">PWK Lab Solves and Write-ups</a></td><td>24 JAN - 11 MAY</td><td>300</td>
					</tr>
					<tr>
						<td colspan="3" class="block"><a href="#performanceBlock"><b>Performance Block (40%)</b></a></td>
					</tr>
					<tr>
					    <td><a href="#NSX">NSX Competition Performance</a></td><td>21 MAY</td><td>50</td>
					</tr>
					<tr>
					    <td><a href="#WPR">PenTest WPR</a></td><td>06 APR</td><td>150</td>
					</tr>
					<tr>
					    <td><a href="#labPresentation">PWK Lab Solves Presentation</a></td><td>12 APR - 07 MAY</td><td>80</td>
					</tr>
					<tr>
							<td><a href="#OSCP">OSCP Examination Score</a></td><td>NLT 11 MAY</td><td>70</td>
					</tr>
					<tr>
							<td>Instructor Points</td><td>11 MAY</td><td>50</td>
					</tr>
					<tr>
						<th colspan="2">Total</th><th>1000</th>
					</tr>
				</table>
				<br>
				<h3 id="pwkBlock" class="block">PWK Block (60% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<h4 id="exercises">PWK Exercises (300 Points)</h4>

				<p> Each student will earn complete the assigned PWK exercises as listed on the lessons page.
					You will submit a pdf with screenshots (proof of work) that you completed each exercise to
					your student folder located at <a href="file:\\usmasvddeecs\eecs\Cadet\Courses\CS\CS485\AY182\Students" target="_blank">\\usmasvddeecs\eecs\Cadet\Courses\CS\CS485\AY182\Students</a>.
					There are 45 assigned exercises worth 6 points each for a total of 270 points. The remaining
					points will be earned through bonus points. Two bonus points will be awarded for the first two
					complete submissions of each exercise. In addition, five bonus points will also be awarded to the team
					with the highest average completion percentage at the end of each week (0000 Monday Morning).
					You will lose 1 point (20% of the exercise) per week for each exercise turned in after
					the assigned due date.
				<br><i>NOTE TO STUDENTS: Bonus points as well as late points are awarded based on the timestamp of the submission to your share folder. Modifying your submission may change the award of bonus points.</i></p>
				<br>
				<h4 id="labWriteup">Lab Solves and Write-ups (300 Points)</h4>
				<p>This exercise is very similar to the intitial PWK exercises but, instead of exercise proof-of-works,
					you will need to exploit and do a write-up (tutorial style report) on your successful exploit of each
					machine. You are required to exploit twenty (20) machines and will receive up to 14 points per machine
					(6 per proof.txt and 6 points per writeup.) The first and second blood on each each machine will receive
					2 bonus points each. <!-- and the team with the most combined solves on at 0000 Monday Morning will receive
					an additional 10 bonus points per person. --> Your time for first blood will be based on the submission
					of the proof.txt. All documents will be named after the last octet of the IP with leading zeros
					so 013.txt for 10.11.1.13's proof.txt and 005.pdf for 10.11.1.5's write-up. You can also lose your
					first blood points on final grading if you do not also have a sufficiently detailed write-up.
					In addition, you can also earn 2 bonus points for each alternative exploit vector per machine and
					5 bonus points per machine compromised over the required twenty. As before, you will lose 1 point per week for
					each exercises turned in after the assigned due date.</p>

				<h3 id="labBlock" class="block">Public Lab Block (40% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<h4 id="NSX">NSX Competition Performance (50 Points)</h4>
				<p>This event will be a chance for you to demonstrate your skills in a live competition. As the final portion of the NSX, the members of this course will break into 3 seperate teams of 4 students to compete against Air Force, Coast Guard, and Navy in an 8-hour Pentration Test competition.  More details to follow but this event is one of the main focuses of this course.</p>

				<h4 id="WPR">PenTest WPR (Exam) (150 Points)</h4>
				<p>There will be a performance based WPR on all Penetration testing concepts focusing on what was learning from the PWK pdf (Chapters 1-16). These will be multiple choice or fill-in-the-blank questions that force you to demonstrate a complete understanding of the materials. There will also be some performance based tasks that require you to actually execute these skills. This WPR will be open notes, computer and internet with no live-chatting or forum postings allowed.</p>

				<h4 id="labPresentation">Lab Presentation (80 Points)</h4>
				<p>There will be one rounds of Lab Presentations in teams of 2. For these lab presentations, your team will pick their favorite (i.e. most challenging) lab machine that was NOT previously disccussed and do a formal presentation on this machine from recon to exploitation to post exploitation. The select machine needs to be one of the more complicated, multi-step exploits and not simply an exploit-to-shell machine (i.e. a simply metasploit pop). These presentations need to last approximently 25 minutes. <!--You will then discuss how you would change the system to prevent this exploit and what steps you would utilize to detect these vulnerabilities during your initial system setup.--></p>
				<br>

				<h4 id="OSCP">OSCP Examination Score (70 Points)</h4>
				<p>This event is the second main focus of this course. The <a href= "https://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-professional/">OSCP exam</a> is a 24 hour live penetration test on five new, never seen systems similar to the ones you worked on in the lab. You will have 3 chances to take the OSCP exam this semester (one per voucher code). To pass, you need to score a 70/100 on the OSCP exam. If you pass, you will receive 25 extra bonus points on this event. If you fail, I will assign you a score based on the number of proofs obtained during your examination. I will take the best score from your two (up to three) attempts. If you plan to use your first attempt, you should schedule your exam ASAP but NLT 26 JAN. You should schedule to take the second attempt NLT 25 APR, and you should schedule to take your last attempt NLT 12 MAY.</p>
				<!--
				<h4 id="comp">PenTest Competition (TENATIVE - Most likely just the NSX) (50 points)</h4>
				<p>There will be a final competition where you each get to demonstrate your skills in a live competition. This competition will be held at 1630 on Friday, 04 MAY in the ECR and will be a fast-paced demonstration of the skills learned in this course. This competition will be held live with the entire department invited to both watch and ask questions as you compromise vulnerable machines in a similar format to <a href="https://youtu.be/4ndEUvid8S8">this video</a>. <!--The competition will be broken into sections with several questions per section. As you answer a question, you will unlock the next question with final gate questions to get more on to the next section. The sections are still TBD, but will be something like recon, vulnerability analysis, exploitation and pivoting.</p>-->
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br>

		</div>
		<div id="books">
			<h2>Required Books</h2>
				<ul>
				<li><a href="https://www.amazon.com/Rtfm-Red-Team-Field-Manual/dp/1494295504/">Red Team Field Manual (RTFM)</a></li>
				<li><a href="https://www.amazon.com/Hacking-Art-Exploitation-Jon-Erickson/dp/1593271441/">Hacking: The Art of Exploitation, 2nd Edition (HAE)</a> <b>Available on <a href="http://techbus.safaribooksonline.com/?uicode=dodarmy">Safari</a></b></li>
				<li><a href="https://www.amazon.com/Basics-Hacking-Penetration-Testing-Second/dp/0124116442/">The Basics of Hacking and Penetration Testing, Second Edition (BPT)</a> <b> Available on <a href="http://techbus.safaribooksonline.com/?uicode=dodarmy">Safari</a></b></li>
				</ul>
		</div>
		<div id="pre-requisites">
			<h2>Pre-requisites:</h2>
			<h3>Knowledge:</h3>
				<ul>
				<li>Basic Networking</li>
					<ul>
						<li>Understanding of OSI Model </li>
						<li>Understanding of Layer 3 and 4 interactions (ip addr vs. port)</li>
						<li>Understanding of Roles of Services (DNS, SSH, Web, etc.)</li>
					</ul>
				<li>Linux and Windows Familiarity</li>
					<ul>
						<li>Intermediate Command Line Familiarity</li>
						<li>Basic Account  Administration</li>
						<li>File Permissions </li>
						<li>Interact with Services</li>
					</ul>
				<li>Familiarity with BASH scripting </li>
					<ul>
						<li>Python scripting</li>
						<li>Understand (can read) other languages (html, SQL, C)</li>
					</ul>
				<li>Basic understanding of Assembly / Machine Code</li>
				</ul>

			<h3>Coures:</h3>
				<ul>
				<li>CS301 or IT300</li>
				<li>CS384 or IT384</li>
				<li>CS484 or IT350 (co-requisite)</li>
				<li>CS380 (co-requisite)</li>
				<li><b>By Interview Only</b></li>
				</ul>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
