<div id="feature">
	<h2>About the course:</h2>
	<p>This course is a fast-passed, lab based course that teaches offensive (hacking) techniques to better understand how to build secure and defensible systems.</p>
</div>

<div id="main">
	<div id="sidebar">
		<div class="sidebarbox">
           <h2>Quick Links</h2>
			<ul class="sidemenu">
				<li><a href="https://www.offensive-security.com/information-security-training/penetration-testing-training-kali-linux/" target="_blank">PWK</a></li>
				<li><a href="https://www.safaribooksonline.com/" target="_blank">Safari Books Online</a></li>
				<li><a href=https://forums.offensive-security.com/ target="_blank">Offensive Security Forums</a></li>
			</ul>
		</div>
	</div>

	<div id="content">
		<h2>Welcome to {courseNumber}!</h2>
		<p>Ethical Hacking is a special topics course taken by invitation only on offensive operations and penetration testing. This course is built upon Offensive Security's Pentration Testing with Kali Linux (PWK) curriculum. The goal of this course is to better understand offensive operations and attack vectors in order to build more defensible systems. Please review the syllabus. There is also a tenative lesson schedule focusing on key events but understand this course is primarily an at-your-own-pace assisted walk through the PWK curriculum and many of those deadlines are subject to change based on your individual progress.</p>

		<div class="left">			
			<h3>Course Director</h3>
			<p>{courseDirector}
			<br>Office: {courseDirectorRoomNumber}; Phone: {courseDirectorPhone}
			<br>E-mail: {courseDirectorEmail}</p>
		</div>

		<div class="right">
			<h3>Classroom Information</h3>
			<p>Class Hours: E
            <p><b>All lecture and in-class working periods will be held in TH115</b>. Please see me if you would like the door code. Make sure you bring your computer to every required course period.</p>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
</div>