	<div id="feature">

	<h2>Course Objectives:</h2>
		<p>Upon successfully completing this course, cadets will be able to:
		<ul>
		<li>Know the ethical issues regarding professional ethical hacking and penetration testing.</li>
		<li>Use the tools available for crafting exploits.</li>
		<li>Understand the basic techniques for gaining unauthorized access into a large network and computer system using both technical and non-technical means. </li>
		<li>Be able to assess potential vulnerabilities in a network security system within executable programs or within network protocols.</li>
		</ul>

		<div class="clear">&nbsp;</div>
	</div>

	<div id="main">
		<div id="sidebar">
			<div class="sidebarbox">
	           <h2>Quick Links</h2>
				<ul class="sidemenu">
					<li><a href="#overview">Course Overview</a></li>
					<li><a href="#grading">Grading</a></li>
					<li><a href="#books">Required Books</a></li>
					<li><a href="#pre-requisites"/>Pre-requistes</a></li>
				</ul>
			</div>
		</div>
		<div id="overview">
			<h2>Course Overview</h3>
				<p>An ethical hacker is simply a hacker who breaks into a computer network to test its security instead of the with the malicious or criminal intent traditionally associated with hacking. At a high level, this is a hacking course. This course will teach you offensive tools and techniques that will enable you to break into computer network and system. The difference is that this course will teach you these techniques with the purpose of helping to better understand these attack vectors to build more defensible systems. Ethical hacking is also commonly use synonymously with Penetration Testing (pen test) which is the practice of testing and penetrating (compromising) a computer network or system to find and fix the vulnerabilities that a malicious attacker would exploit.</p>
				<p>In terms of implementation, this course is primarily a guided journey through Offensive Security's Penetration Testing with Kali Linux (PWK) course and is split into 3 blocks. The first block focuses on the provided material and exercises that lay the foundation for a successful pen test. In this block, you will learn how to conduct information gathering (scanning), vulnerability analysis, exploitation (i.e. buffer overflows and command injection) and post-exploitation (i.e. privilege escalation, password attacks, and pivoting).  The second block is then an open ended dive into the immersive PWK public lab with over 70 machines for the user to compromise. The final block consist of one of two options depending on the ability of the student. Overall, this block's purpose is to demonstrate master of these skills and the ability to apply the offensive skills you learned to improve defensive systems.</p>
				<p>This course is run very much like a team based competition. There is a scoreboard that tracks each student's and team's progress throughout the materials. This course is also honestly taught using the Thayer method and at a graduate level. You will use the provide materials to teach yourself each of the concepts, and class is only discussion to go deeper into the topics and answer questions. The material is also very hard. Offensive's Securities moto is <a href="https://www.offensive-security.com/offsec/say-try-harder/">Try Harder</a>. The course work is the basic foundation - you will need to do independent research outside of the provided course material to get through more than a handful of the public lab machines.</p>
				<p>Overall, this course is an extremely rewarding course if you are a mature enough learner to handle open ended assignments without complete instruction. The enrollment in the course includes an opportunity to earn the <a href="https://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-professional/">OSCP certification</a>. Space is very limited so please contact me as soon as possible if you are interested.</p>
		</div>
		<div id="grading">
			<h2>Grading</h2>
				<p>This course is out of a total of 2500 points with the break down as follows:</p>
				<table class="grades" id="gradeChart">
					<tr>
					    <th>Event</th><th>Due Date</th><th>Points</th>
					</tr>
					<tr>
						<td colspan="3" class="block"><a href="#pwkBlock"><b>PWK Exercise Block (55%)</b></a></td>
					</tr>
					<tr>
					    <td><a href="#exercises">PWK Exercises</a></td><td>02 MAR</td><td>1000</td>
					</tr>
					<tr>
					    <td><a href="#wpr">PWK Exercises WPR</a></td><td>06 MAR</td><td>300</td>
					</tr>
					<tr>
					    <td><a href="#cdx">CDX Write-up</a></td><td>20 MAR</td><td>75</td>
					</tr>
					<tr>
						<td colspan="3" class="block"><a href="#labBlock"><b>PWK Public Lab Block Part 1 (20%)</b></a></td>
					</tr>
					<tr>
					    <td><a href="#labRecon">Lab Recon and Vulnerability Analysis</a></td><td>28 MAR</td><td>150</td>
					</tr>

					<tr>
					    <td><a href="#labWriteup">Lab Solves and Write-ups</a></td><td>18 APR (Option 1)<br>11 MAY (Option 2)</td><td>350</td>
					</tr>
					<tr>
						<td colspan="3" class="block"><a href="#option1"><b>Option 1: PWK Public Lab Block Part 2 (20%)</b></a></td>
					</tr>
					<tr>
					    <td><a href="#labWriteup2">Lab Solves and Write-ups Part#2</a></td><td>11 MAY</td><td>350</td>
					</tr>
					<tr>
					    <td><a href="#labPresentation">PWK Lab Solves Presentation</a></td><td>09/11 MAY</td><td>150</td>
					</tr>
					<tr>
						<td colspan="3" class="block"><b><a href="#option2">Option 2: Vulnerable VM Block (20%)</a></b></td>
					</tr>
					<tr>
					    <td><a href="#vmCreation">Vulnerable VM Creation</a></td><td>18 APR</td><td>175</td>
					</tr>
					<tr>
					    <td><a href="#vmWriteup">Vulnerable VM Write-up</a></td><td>09 MAY</td><td>175</td>
					</tr>
					<tr>
					    <td><a href="#vmPresentation">Vulnerable VM Presentation</a></td><td>09/11 MAY</td><td>150</td>
					</tr>					
					<tr>
						<td colspan="3" class="block"><a href="#finalBlock"><b>Final Competition (5%)</b></a></td>
					</tr>
					<tr>
					    <td><a href="#comp">PenTest Competition</a></td><td>05 MAY</td><td>125</td>
					</tr>
					<tr>
						<th colspan="2">Total</th><th>2500</th>
					</tr>
				</table>
				<br>
				<h3 id="pwkBlock" class="block">PWK Block (55% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<h4 id="exercises">PWK Exercises (1000 Points)</h4>

				<p> Each student will earn complete the assigned PWK exercises as listed on the lessons page. You will submit a pdf with screenshots (proof of work) that you completed each exercise to your student folder located at <a href="file:\\usmasvddeecs\eecs\Cadet\Courses\CS\CS485\AY172\Students" target="_blank">\\usmasvddeecs\eecs\Cadet\Courses\CS\CS485\AY172\Students</a>. There are 45 assigned exercises worth 20 points each for a total of 880 points. The remaining points will be earned through bonus points. Two bonus points will be awarded for each first complete submission of each exercise. Fifteen bonus points will also be awarded to the team with the highest average completion percentage at the end of each week (0000 Monday Morning). You will lose three points (15% of the exercise) for each exercises turned in after the assigned due date. 
				<br><i>NOTE TO STUDENTS: Bonus points as well as late points are awarded based on the timestamp of the submission to your share folder. Modifying your submission may change the award of bonus points.</i></p>
				<h4 id="wpr">PWK WPR (Exam) (300 Points)</h4>
				<p>There will be a WPR on the concepts learned from the PWK pdf (Chapters 1-16). These will be multiple choice or fill-in-the-blank questions that force you to demonstrate a complete understanding of the materials. This WPR will be open notes, computer and internet with no live-chatting or forum postings allowed.</p>
				<h4 id="cdx">CDX Write-up (75 Points)</h4>
				<p> As a team of 3, you will be conducting a network recon and vulnerability analysis of the CDX network. You will be provided external network access to this network via a wireless router in TH212. Using this router, your goal is to map the CDX network and identify as many services as possible. This network is hardened so many traditional network mapping techniques might not work. Your final report should include as detailed a network diagram as possible including services per machine. In this report, feel free to make intelligent assumptions on the purpose of devices based on gathered information. Using the output of your vulnerability scans, write a brief paragraph about your way forward to attempt to exploit each machine.
				<br>


				<h3 id="labBlock" class="block">Public Lab Block (20% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<h4 id="labRecon">Lab Recon and Vulnerability Analysis (150 Points)</h4>
				<p>This assignment is a measuring stick to ensure you are making progress on the public lab machines. The overall purpose of this assignment is to give you some perspective on the lab machines and help generate a future plan of attack. I <b>DO NOT</b> simply want the output from OpenVAS or any other vulnerability scanner. Instead, I want your assessment on the way to exploit each machine based on the output of your vulnerability scanner. This assignment will consist of two parts. In part 1, you will create a table with an entry per machine that includes the IP, device fingerprint (OS), open ports, purpose/role, and your initial exploitation vector as well as any other pertinent information you choose to include. This table will be rank ordered based from easiest to hardest to exploit based on your investigation and reading of your vulnerability scan. As example entry would look like:</p>
				<table>
					<tr>
					    <th>Rank</th><th>IP</th><th>Fingerprint</th><th>Ports</th><th>Purpose/role</th><th>Initial Vector</th>
					</tr>
					<tr>
						<td>1</td><td>10.11.1.13</td><td>Microsoft ISS WS v5.1</td><td>80, 21, 3389</td><td>FTP/Web Server</td><td>Use anonymous FTP access and bad write privileges <br> to write exploit (shell) code on the server</td>
					</tr>
				</table>
				<br>
				<p>In part 2, you to go into greater detail on five machines of your choosing and write a minimum of two paragraphs per machine about the vulnerability identified, exactly why it makes the system vulnerable, how it can be exploited, and the exploit that you found (or that you intend to write) to exploit this vulnerability. </p>
				<h4 id="labWriteup">Lab Solves and Write-ups (350 Points)</h4>
				<p>This exercise is very similar to the intitial PWK exercises but, instead of exercise proof-of-works, you will need to exploit and do a write-up (tutorial style report) on your successful exploit of each machine. You will receive up to 20 points per machine for the first 15 lab solves for a total of 300 points. You will receive 5 bonus points for each first blood on a machine and the team with the most combined solves on at 0000 Monday Morning will receive an additional 10 bonus points per person. Your time for first blood will be based on the submission of the proof.txt. All documents will be named after the last octet of the IP with leading zeros so 013.txt for 10.11.1.13's proof.txt and 005.pdf for 10.11.1.5's write-up. While the .txt is important for first blood, the write-up is the most important in terms of your grade. You can also lose your first blood points on final grading if you do not also have a sufficiently detailed write-up. You can also earn 3 bonus points for each alternative exploit vector (5 points if a unique or first blood attack vector) per machine</p>


				<p><b>NOTE: Option 1 and 2 are still under development. Changes will potentially occur in the future</b></p>


				<h3 id="option1" class="block">Option #1 (20% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<p><i>This is the prefered option to continue to explore and learn from the lab machines</i></p>
				<h4 id="labWriteup2">Lab Solves and Write-ups #2 (350 Points)</h4>
				<p>This is a carbon copy of the Lab Solves and Write-ups but with an additional 15 machines. Teams and the handling of team bonus points will be determined based on number of participants</p>
				<h4 id="labPresentation">Lab Presentation (150 Points)</h4>
				<p>You will now pick 2 of your favorite (most challenging) with instructor approval and do a formal presentation on these machines from recon to exploitation to post exploitation. The select machine need to be more complicated, multi-step exploits and not simply an exploit-to-shell machine. You will then discuss how you would change the system to prevent this exploit and what steps you would utilize to detect these vulnerabilities during your initial system setup.</p>
				<br>


				<h3 id="option2" class="block">Option #2 (20% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<p><i>This is option is primarily for those who are struggling to exploit the lab machine. This option is also good for those that want the experience of setting up their own server from scratch, configuring services, and then patching exploitable vulnerabilities on their system.</i></p>
				<h4 id="vmCreation">Vulnerable VM Creation Assignment (175 Points)</h4>
				<p>For this assignment, you are going to create two intentionally vulnerable VM for your classmates to compromise. You will pick how you want it to be vulnerable with approval from your instructor. These vulnerability do not necessarily need to be extremely complicated and should fall within the scope of the course material.  You will also need to create at least two red hearings paths per VM as distractors and include a proof.txt in the administrator's directory. The goal is for one easy-to-medium and one medium-to-harder but still manageable VM. Due to the nature of this assignment, no collaboration is allowed. Please direct all instructions to the instructor.

				<h4 id="vmWriteup">Vulnerable VM Write-up (175 Points)</h4>
				<p>In this assignment, you will receive 4 VMs from your classmates to compromise. You will do a write-up as in <a href=#labWriteup>Lab Solves</a> per machine. In addition to the normal write-up, you will also discuss what fixed you would make to the VM to prevent your attacks. Due to the nature of this assignment, no collaboration is allowed. Please direct all instructions to the instructor.</p>
				<h4 id="vmPresentation">Vulnerable VM Presentation (150 Points)</h4>
				<p>You will select two of the VMs that you compromised and do a formal presentation on these machines from recon to exploitation to post exploitation. You will also discuss how you would change the system to prevent this exploit and what steps you would utilize to detect these vulnerabilities during your initial system setup. Finally, you will actually make those changes to the VM and demo those changes as part of your presentation.</p>
				<br>
				
				<h3 id="finalBlock" class="block">Final Competition (5% of Overall Grade)</h3>
				<h4 class="return"><a href="#gradeChart">Return to Grade Chart</a></h4>
				<br><br><br>
				<h4 id="comp">PenTest Competition (150 points)</h4>
				<p>There will be a final competition where you each get to demonstrate your skills in a live, rapid fire scenario. This competition will be held at 1630 on Friday, 05 MAY in the ECR. The competition will be broken into sections with several questions per section. As you answer a question, you will unlock the next question with final gate questions to get more on to the next section. The sections are still TBD, but will be something like recon, vulnerability analysis, exploitation and pivoting.</p>
		</div>
		<div id="books">
			<h2>Required Books</h2>
				<ul>
				<li><a href="https://www.amazon.com/Rtfm-Red-Team-Field-Manual/dp/1494295504/">Red Team Field Manual (RTFM)</a></li>
				<li><a href="https://www.amazon.com/Hacking-Art-Exploitation-Jon-Erickson/dp/1593271441/">Hacking: The Art of Exploitation, 2nd Edition (HAE)</a> <b>Available on <a href="http://techbus.safaribooksonline.com/?uicode=dodarmy">Safari</a></b></li>
				<li><a href="https://www.amazon.com/Basics-Hacking-Penetration-Testing-Second/dp/0124116442/">The Basics of Hacking and Penetration Testing, Second Edition (BPT)</a> <b> Available on <a href="http://techbus.safaribooksonline.com/?uicode=dodarmy">Safari</a></b></li>
				</ul>	
		</div>
		<div id="pre-requisites">
			<h2>Pre-requisites:</h2>
			<h3>Knowledge:</h3>
				<ul>
				<li>Basic Networking</li>
					<ul>
					<li>Understanding of OSI Model </li>
					<li>Understanding of Layer 3 and 4 interactions (ip addr vs. port)</li>
					<li>Understanding of Roles of Services (DNS, SSH, Web, etc.)</li>
					</ul>
				<li>Linux and Windows Familiarity</li>
					<ul>
					<li>Intermediate Command Line Familiarity</li>
					<li>Basic Account  Administration</li>
					<li>File Permissions </li>
					<li>Interact with Services</li>
					</ul>
				<li>Familiarity with BASH scripting </li>
					<ul>
					<li>Python scripting</li>
					<li>Understand (can read) other languages (html, SQL, C)</li>
					</ul>
				<li>Basic understanding of Assembly / Machine Code</li>
				</ul>

			<h3>Coures:</h3>
				<ul>
				<li>CS301 or IT300</li>
				<li>CS384 or IT384</li>
				<li>CS484 or IT350 (co-requisite)</li>
				<li>CS380 (co-requisite)</li>
				<li><b>By Interview Only</b></li>
				</ul>
		</div>
		<div class="clear">&nbsp;</div>
	</div>