/*
Original design: Variant Multi (v1.5 - Sep 15, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-multi/
*/

*{margin:0;padding:0;}
body{
	background: url('images/access-granted.jpg');
	background-size: 300px;
	color:#444;
	font:100% 'Roboto Condensed', arial, sans-serif;
}

p{line-height:1.7em;margin-bottom:15px;}
a{color:#749a00;}
a:hover{color:#333;}
h1{color:black;font-family:Georgia,serif;font-size:2.4em;}
h2{color:black;font-family:Georgia,serif;font-size:2.2em;font-weight:400;margin:0 0 10px 0;}
h3{color:black;font-family:Georgia,serif;font-size:1.6em;font-weight:400;margin:0 0 8px;}
ul,ol,dl{margin:0 0 20px 20px; padding:0;}
li{padding-bottom:5px;}
table{width: 100%;}
table,td,th {border:1px solid #000; border-collapse:collapse;text-align:center; padding:3px;}
.single_column {background:##00FF00;color:black;}
th {background-color:black;color:#00FF00;}
th.lesson {min-width: 30px;}
th.date {min-width: 55px;}
th.topic {min-width: 225px;}
th.reading {min-width: 175px;}
th.exercises {min-width: 150px;}
table.grades {width: 65%; margin-left:auto; margin-right:auto;}
td.block{background-color:#DDDDDD;}
td.block a{text-decoration: none; color:black;}
td.block a:link{text-decoration: none; color:black;}
td.block a:visited{text-decoration: none; color:black;}
h3.block{float: left;display: inline-block;}
h4.block{float: left;display: inline-block;}
h4.return{float: right;display: inline-block;margin:0 auto;}
#overview p{text-indent: 3em;}

hr {height: 2px;background-color: black;}

#containerfull,#container980,#container760,#container600{margin:0 auto;padding:0;overflow:hidden;border-left:1px solid #ddd;border-right:1px solid #ddd;}
#containerfull{width:100%;border:0;}
#container980{width:1080px;}
#container760{width:760px;}
#container600{width:600px;}

#header h1{margin:0;padding:20px 0 10px; color:black;}
#header h1 a{font-size:2em;text-decoration:none;color:black;}
#header h2{padding:0 0 10px 25px;margin:0;font-size:1.8em;color:black;}

#header{
	background: #00FF00;
	margin:0 auto;
	padding:10px 25px;
	font-family:Georgia,serif;
	font-weight:400;
	color: white;
}

#menu{background-color:#333 ;height:40px;}
#menu ul{float:right;height:40px;list-style:none;margin:0;padding:0 25px 0 0;}
#menu ul li{background-color:black;display:block;float:left;margin:0 0 0 5px;padding:0;}
#menu ul li a{background-color:black;color:#00FF00;display:block;font-size:1.4em;padding:10px 12px;text-decoration:none;}
#menu ul li a:hover{color:white;}
#menu ul li a.current{background-color:#eee;color:#333;border-bottom:1px solid #eee;}

#feature{background-color:#eee;color:#555;padding:25px 25px 5px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#feature h2{color:black;font-size:2em;line-height:1em;}
#feature p{font-size:1.3em;margin:0 0 15px 0; line-height:1.5em;}

#main{clear:both;margin:0;background-color:white;padding:25px 25px 5px;}
#content{width:72%;background-color:white}

#sidebar{background:transparent no-repeat scroll top left;float:right;width:25%;}
#sidebar .sidebarbox {margin:0 0 25px 0;background-color:white; border:1px solid #749a00;}
#sidebar p{margin:10px 0 10px 10px;}
#sidebar ul{list-style:none;margin:10px 0 10px 10px;padding:0;}
#sidebar ul li{margin:0 0 5px 0;}
#sidebar ul li a{color:black;font-weight:400;}
#sidebar ul.sidemenu {margin:0;}
#sidebar ul.sidemenu li{display:inline;padding:0;margin:0;}
#sidebar ul.sidemenu li a{display:block;padding:7px 5px 6px 10px;font-size:1.2em; font-weight:400;text-decoration:none;border-bottom:1px solid #ddd;}
#sidebar ul.sidemenu li a:hover{background-color:#eee;color:#333;border-bottom:1px solid #ccc;}
#sidebar ul.sidemenu ul{margin:0;padding:0;font-size:0.9em;border-bottom:1px solid #ccc;}
#sidebar ul.sidemenu ul li a{padding:5px 5px 5px 25px;border:0;font-weight:400;}
#sidebar ul.sidemenu ul li a:hover{border:0;}
#sidebar ul li a:hover{color:#333;}
#sidebar h2{background-color:black ;color:#00FF00;font-size:1.5em;margin:0 0 0 0;padding:10px;}
#sidebar h3{font-size:1.4em; padding:10px 10px 0 10px;}

#sidebar2{background:transparent no-repeat scroll top left;float:right;width:45%;}
#sidebar2 .sidebarbox2 {margin:0 0 50px 0;background-color:#fff; border:1px solid black;}
#sidebar2 p{margin:10px 0 10px 10px;}
#sidebar2 ul{list-style:none;margin:10px 0 10px 10px;padding:0;}
#sidebar2 ul li{margin:0 0 5px 0;}
#sidebar2 ul li a{color:black;font-weight:400;}
#sidebar2 ul li a:hover{color:#333;}
#sidebar2 h2{background-color:#749a00 ;color:#fff;font-size:1.5em;margin:0 0 0 0;padding:10px;}
#sidebar2 h3{font-size:1.4em; padding:10px 10px 0 10px;}

#footer{background-color:#ddd;margin:0 auto;padding:20px 25px 10px;border-top:1px solid #ccc;}
#footer h2{color:black;font-weight:400;font-size:1.5em;}
#footer p{color:#555;margin:0 0 10px 0;padding:0;}
#footer ul{border-top:1px solid #ccc;list-style:none;margin:0 0 15px 0;padding:0;}
#footer ul li{padding:0;margin:0;}
#footer ul li a{border-bottom:1px solid #ccc;color:#333;display:block;padding:7px 10px;text-decoration:none;}
#footer ul li a:hover{background-color:#eee;}

#footersections{display:block;margin:0 auto;}
#footersections .half{float:left;margin:0 3% 0 0;width:47%;}
#footersections .lasthalf{float:left;margin:0;width:50%;}
#footersections .quarter{float:left;margin:0 3% 0 0;width:22%;}
#footersections .lastquarter{float:left;width:25%;margin:0;}

#credits {background-color:black;color:#00FF00;padding:15px 25px;}
#credits p{text-align:left;font-size:1.2em;margin:0;padding:0;line-height:1.4em;}
#credits a{color:#00FF00;font-weight:400;}

.left{float:left;width:49%;}
.right{float:right;width:48%;}
.clear{clear:both;visibility:hidden;}
.small{font-size:0.8em;}

#schedule { border-collapse:collapse; margin-left:auto; margin-right:auto;}
#schedule h4 { margin:0px; padding:0px;}
#schedule img { float:right;}
#schedule ul { margin:10px 0 10px 40px; padding:0px;}
#schedule th { background:black repeat-x scroll center left; color:#00FF00; padding:7px 15px;}
#schedule td { background:#ddd none repeat-x scroll center left; color:#000; padding:7px 15px; }
#schedule tr.odd td { background:#fff url('js/row_bkg.png') repeat-x scroll center left; cursor:pointer; }
#schedule div.arrow { background:url('js/arrows.png') no-repeat 0px -16px; width:15px; height:15px; display:block; }
#schedule div.up { background-position:0px 0px;}

/*table,td,th {border:1px solid #000; border-collapse:collapse;text-align:center;}
th {background-color:#749a00;color:white;}
*/
#schedule tr.even td { text-align:left; }
.even{ text-align:left; }


.blood{color:red; font-weight: bold;}
.gold{color:gold; font-weight: bold;}
.silver{color:silver; font-weight: bold;}
.bronze{color: #8C7853; font-weight: bold;}
.comp p{float: left;}

.comp_list {
    float: left;
    padding-left:50px;
    padding-top: 25px;
    font-size:1.8em;
    font-weight: bold;
    }

.award_image {
	height: 30px;
	vertical-align: middle;
	background: #D4A017;
	horizontal-align: middle;
}

.comp_pic {
    float: right;
	height: 192px;
	vertical-align: middle;
	padding: 10px;
}
